.center_align{
    width: 1000px;
    height: auto;
    margin: 0 auto;
}
.center_join{
    margin-top: 50px;
    width: 380px;
    float: left;
}
.center_title{
    margin-top: 75px;
    background: url(/SlowTravel/staticState/img/join_logo.png) no-repeat;
    height: 125px;
}
.center_text{
    float: left;
    font-size: 14px;
    line-height: 18px;
    padding: 0.3em;
}
.center_right{
    margin-top: 125px;
    height: 170px;
    width: 500px;
    float: right;
}
.center_right_img{
    height: 333px;
    width: 500px;
    margin-top: -55px;
    margin-left: -55px;
}
.center_btn{
    float: left;
    padding-top: 10px;
    text-align: center;
    width: 161px;
}
.center_join_btn{
    background: #4abdcc;
    border-radius: 16px;
    -o-border-radius: 16px;
    -moz-border-radius: 16px;
    -webkit-border-radius: 16px;
    color: #ffffff;
    cursor: pointer;
    height: 32px;
    line-height: 32px;
}
.cb{
    clear: both;
}
.join_align{
    height: auto;
    float: left;
    margin-top: 20px;
}
.join_content{
    padding-top: 10px;
    float: left;
}
.join_h2{
    color: #5c5c5c;
    font-size: 30px;
    line-height: 70px;
}
.join_p{
    font-size: 14px;
    line-height: 18px;
    padding: 0.3em;
}
.join_a{
    color: #4abdcc;
    text-decoration: none;
    -webkit-transition: color 0.3s ease;
    -moz-transition: color 0.3s ease;
    -o-transition: color 0.3s ease;
    transition: color 0.3s ease;

}
.wai{
    height: 400px;
    background: #f2f2f2;
}
.join_ul{
    border-bottom: 1px solid #e7e7e7;
    padding: .2em .2em 0;
    height: 65px;
}
.join_li{
    font-size: 35px;
    float: left;
}
.join_li_li{
    font-size: 20px;
    float: left;
}
.join_ul_1{
    float: left;
}
.join_ul_2{
    float: left;
    height: 30px;
}
.join_widget{
    margin-top: 50px;
}
.join_li_2{
    float: left;
}
.join_p{
    font-size: 18px;
    line-height: 1.8em;
    margin-left: -7px;
}
.widger_li{
    color: #999999;
    font-size: 14px;
    line-height: 2.2em;
}
.xiamian{
    height: auto;
    width: 1000px;
    margin: 0 auto;
}