#search_submit{
    width: 100px;
}

#se_select{
    width:auto;
}
#s_span{
    text-align:center;
}

#captchaOperation{
    background-color:#5acbda;
}

#sp_span{
    width: 80px;
}

#ipt1{
    width: 520px;
}