<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--
喜欢模块mapper配置文件
-->
<mapper namespace="com.SlowTravel.www.mapper.LikeMapper">

    <!--根据图片id查找消息-->
    <select id="selectLikeCount" parameterType="int"  resultType="int">
        select count(*) from praise where p_id = #{pid}
    </select>

    <delete id="deleteLike" >
        delete from praise where p_id = #{0} AND user_id = #{1};
    </delete>

    <insert id="insert">
        insert into praise values(null,#{0},#{1})
    </insert>

    <select id="selectLikeById" resultType="int">
        select count(*) from praise where p_id = #{0} and user_id = #{1}
    </select>
</mapper>